#toma{
  background-color: tomato;
}

#oran{
  background-color: orange;
}

#dod{
  background-color: dodgerblue;
}

#med{
  background-color: mediumseagreen;
}

.gra{
  background-color: gray;
}

.sta{
  background-color: slateblue;
}

.vio{
background-color: violet;
}